{% extends "layout.html" %}
{% block content %}
<script>var LEVEL = "{{ level }}"</script>
<div id="panel-wrapper" class="row">
    <ul class="tabs blue">
        <li class="tab col s4"><a href="{{ url_for('level',id=1) }}" target="_self" class="{{'active' if level == '1' else ''}}">Level 1</a></li>
        <li class="tab col s4"><a href="{{ url_for('level',id=2) }}" target="_self" class="{{'active' if level == '2' else ''}}">Level 2</a></li>
        <li class="tab col s4"><a href="{{ url_for('level',id=3) }}" target="_self" class="{{'active' if level == '3' else ''}}">Level 3</a></li>
    </ul>
    <div id="game-panel" class="panel z-depth-1">
        <div class="row no-bot">
            <div class="error"></div>
        </div>
        <div class="row">
            <div class="col s6">
                <div id="game"></div>
            </div>
            <div class="col s6">
                <form id="code-form" class="col s12">
                    <div class="row no-bot">
                        <div class="input-field col s12">
                            <textarea id="code" name="code" type="textarea">
def move(robot):
    # Your code here
                            </textarea>
                        </div>
                    </div>
                    <div class="row no-bot">
                        <div class="col s12">
                            <input id="submit" class="btn" type="button" value="Execute" onClick="submit_code()" ></input>
                        </div>
                    </div>
                </form>
                <div id="spinner" class="valign-wrapper">
                    <div class="preloader-wrapper big active valign">
                        <div class="spinner-layer spinner-blue-only">
                            <div class="circle-clipper left">
                                <div class="circle"></div>
                            </div><div class="gap-patch">
                                <div class="circle"></div>
                            </div><div class="circle-clipper right">
                                <div class="circle"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="finishedModal" class="modal">
    <div class="modal-content">
        <div class="success-icon-wrapper">
            <i class="material-icons circle green white-text success-icon">done</i>
        </div>
        <h4 class="center" style="font-weight: 300;">Level Completed</h4>
    </div>
    <a href="#!" style="width: 100%;" class=" modal-action modal-close waves-effect waves-green waves-light btn green">OK</a>
</div>

{% endblock %}
{% block script %}
    <script type="text/javascript" src="{{url_for('static', filename='js/phaser.min.js')}}"></script>
    <script type="text/javascript" src="{{url_for('static', filename='js/game.js')}}"></script>
{% endblock %}
