{% extends "layout.html" %}
{% block content %}
<div id="scoreboard" class="row">
  <div class="panel z-depth-1">
    <div class="row">
      <h3>Scoreboard</h3>
      <table>
        <thead>
          <tr>
              <th data-field="id">Number</th>
              <th data-field="name">Username</th>
              {% for lvl in levels %}
                  <th data-field="lvl{{ lvl }}">Level {{ lvl }}</th>
              {% endfor %}
              <th data-field="total">Total Score</th>
          </tr>
        </thead>
        <tbody>
          {% for s in data %}
          <tr>
            <td>{{loop.index}}</td>
            <td>{{s["user"]["username"]}}</td>
    
            {% for lvl in levels %}
                {% if lvl in s %}
                <td>{{s[lvl][0]}} ({{ s[lvl][1] }})</td>
                {% else %}
                  <td>-</td>
                {% endif %}
            {% endfor %}
    
            <td>{{s["total"][0]}}</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>
{% endblock %}
