{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="panel z-depth-1 login-panel">
        <div class="row">
            <h3 class="form-title blue-text">Login</h3>
            <form class="col s12" method="POST">
                {% if error %}
                <div class="error">
                    Bad credentials!
                </div>
                {% endif %}

                <div class="row">
                    <div class="input-field col s12">
                        <input id="username" name="username" type="text" class="validate"/>
                        <label for="username">Username</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="password" name="password" type="password" class="validate"/>
                        <label for="password">Password</label>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col s12">
                        <input id="submit" class="btn right" type="submit" value="Login"/>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}
